<div class="catalogue-menu-wrapper">
  <nav class="catalogue-menu">
    <div class="catalogue-menu--group" data-role="folder">
      <a class="catalogue-menu--group-title" href="#" data-role="folder-toggle">
        <span class="icon_20 catalogue-menu--group-title">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </span> Кроватки</a>
      <div class="catalogue-menu--group-body" data-role="folder-content">
        <div class="catalogue-menu--list">
          <a class="catalogue--menu-lnk active" href="#">Подкатегория 1</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 2</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 3</a>
        </div>
      </div>
    </div>
    <div class="catalogue-menu--group" data-role="folder">
      <a class="catalogue-menu--group-title" href="#" data-role="folder-toggle">
        <span class="icon_20 catalogue-menu--group-icon">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </span> Матрасы</a>
      <div class="catalogue-menu--group-body" data-role="folder-content">
        <div class="catalogue-menu--list">
          <a class="catalogue--menu-lnk active" href="#">Подкатегория 1</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 2</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 3</a>
        </div>
      </div>
    </div>
    <div class="catalogue-menu--group" data-role="folder">
      <a class="catalogue-menu--group-title" href="#" data-role="folder-toggle">
        <span class="icon_20 catalogue-menu--group-icon">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </span> Постельное белье</a>
      <div class="catalogue-menu--group-body" data-role="folder-content">
        <div class="catalogue-menu--list">
          <a class="catalogue--menu-lnk active" href="#">Подкатегория 1</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 2</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 3</a>
        </div>
      </div>
    </div>
    <div class="catalogue-menu--group" data-role="folder">
      <a class="catalogue-menu--group-title" href="#" data-role="folder-toggle">
        <span class="icon_20 catalogue-menu--group-icon">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </span> Бортики</a>
      <div class="catalogue-menu--group-body" data-role="folder-content">
        <div class="catalogue-menu--list">
          <a class="catalogue--menu-lnk active" href="#">Подкатегория 1</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 2</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 3</a>
        </div>
      </div>
    </div>
    <div class="catalogue-menu--group" data-role="folder">
      <a class="catalogue-menu--group-title" href="#" data-role="folder-toggle">
        <span class="icon_20 catalogue-menu--group-icon">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </span> Столы и стулья</a>
      <div class="catalogue-menu--group-body" data-role="folder-content">
        <div class="catalogue-menu--list">
          <a class="catalogue--menu-lnk active" href="#">Подкатегория 1</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 2</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 3</a>
        </div>
      </div>
    </div>
    <div class="catalogue-menu--group" data-role="folder">
      <a class="catalogue-menu--group-title" href="#" data-role="folder-toggle">
        <span class="icon_20 catalogue-menu--group-icon">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </span> Стеллажи</a>
      <div class="catalogue-menu--group-body" data-role="folder-content">
        <div class="catalogue-menu--list">
          <a class="catalogue--menu-lnk active" href="#">Подкатегория 1</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 2</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 3</a>
        </div>
      </div>
    </div>
    <div class="catalogue-menu--group" data-role="folder">
      <a class="catalogue-menu--group-title" href="#" data-role="folder-toggle">
        <span class="icon_20 catalogue-menu--group-icon">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </span> Комоды</a>
      <div class="catalogue-menu--group-body" data-role="folder-content">
        <div class="catalogue-menu--list">
          <a class="catalogue--menu-lnk active" href="#">Подкатегория 1</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 2</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 3</a>
        </div>
      </div>
    </div>
    <div class="catalogue-menu--group" data-role="folder">
      <a class="catalogue-menu--group-title" href="#" data-role="folder-toggle">
        <span class="icon_20 catalogue-menu--group-icon">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </span> Аксессуары</a>
      <div class="catalogue-menu--group-body" data-role="folder-content">
        <div class="catalogue-menu--list">
          <a class="catalogue--menu-lnk active" href="#">Подкатегория 1</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 2</a>
          <a class="catalogue--menu-lnk" href="#">Подкатегория 3</a>
        </div>
      </div>
    </div>
    <svg class="catalogue-menu--icon">
      <use xlink:href="svg-sprite/sprite.svg#arrow-bottom-20"></use>
    </svg>
    <a class="catalogue-menu--lnk" href="#">Подержанные кроватки</a>
    <a class="catalogue-menu--lnk" href="#">Специальные предложения</a>
    <a class="catalogue-menu--lnk" href="#">Условия выкупа и&nbsp;утилизации</a>
  </nav>
</div>
