<nav class="menu" data-role="drop-wrapper">
  <div class="menu--group" data-role="drop">
    <a class="menu--group-title" href="#" data-role="drop-toggle">Каталог
      <svg class="menu--group-title-icon">
        <use xlink:href="svg-sprite/sprite.svg#folder-15"></use>
      </svg>
    </a>
    <div class="menu--drop" data-role="drop-content">
      <div class="menu--list" data-role="folder-wrapper" data-type="accordion">
        <div class="menu--group" data-role="folder">
          <a class="menu--group-title" href="#" data-role="folder-toggle">Кроватки</a>
          <div class="menu--group-body" data-role="folder-content">
            <div class="menu--group" data-role="folder">
              <a class="menu--group-title" href="#" data-role="folder-toggle">Подкатегория 1</a>
              <div class="menu--group-body" data-role="folder-content">
                <div class="menu--list">
                  <a class="menu--list-lnk" href="#">Подкатегория 1.1</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.2</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.3</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.4</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu--group" data-role="folder">
          <a class="menu--group-title" href="#" data-role="folder-toggle">Матрасы</a>
          <div class="menu--group-body" data-role="folder-content">
            <div class="menu--group" data-role="folder">
              <a class="menu--group-title" href="#" data-role="folder-toggle">Подкатегория 1</a>
              <div class="menu--group-body" data-role="folder-content">
                <div class="menu--list">
                  <a class="menu--list-lnk" href="#">Подкатегория 1.1</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.2</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.3</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.4</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu--group" data-role="folder">
          <a class="menu--group-title" href="#" data-role="folder-toggle">Постельное белье</a>
          <div class="menu--group-body" data-role="folder-content">
            <div class="menu--group" data-role="folder">
              <a class="menu--group-title" href="#" data-role="folder-toggle">Подкатегория 1</a>
              <div class="menu--group-body" data-role="folder-content">
                <div class="menu--list">
                  <a class="menu--list-lnk" href="#">Подкатегория 1.1</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.2</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.3</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.4</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu--group" data-role="folder">
          <a class="menu--group-title" href="#" data-role="folder-toggle">Бортики</a>
          <div class="menu--group-body" data-role="folder-content">
            <div class="menu--group" data-role="folder">
              <a class="menu--group-title" href="#" data-role="folder-toggle">Подкатегория 1</a>
              <div class="menu--group-body" data-role="folder-content">
                <div class="menu--list">
                  <a class="menu--list-lnk" href="#">Подкатегория 1.1</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.2</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.3</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.4</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu--group" data-role="folder">
          <a class="menu--group-title" href="#" data-role="folder-toggle">Столы и&nbsp;стулья</a>
          <div class="menu--group-body" data-role="folder-content">
            <div class="menu--group" data-role="folder">
              <a class="menu--group-title" href="#" data-role="folder-toggle">Подкатегория 1</a>
              <div class="menu--group-body" data-role="folder-content">
                <div class="menu--list">
                  <a class="menu--list-lnk" href="#">Подкатегория 1.1</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.2</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.3</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.4</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu--group" data-role="folder">
          <a class="menu--group-title" href="#" data-role="folder-toggle">Стеллажи</a>
          <div class="menu--group-body" data-role="folder-content">
            <div class="menu--group" data-role="folder">
              <a class="menu--group-title" href="#" data-role="folder-toggle">Подкатегория 1</a>
              <div class="menu--group-body" data-role="folder-content">
                <div class="menu--list">
                  <a class="menu--list-lnk" href="#">Подкатегория 1.1</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.2</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.3</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.4</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu--group" data-role="folder">
          <a class="menu--group-title" href="#" data-role="folder-toggle">Комоды</a>
          <div class="menu--group-body" data-role="folder-content">
            <div class="menu--group" data-role="folder">
              <a class="menu--group-title" href="#" data-role="folder-toggle">Подкатегория 1</a>
              <div class="menu--group-body" data-role="folder-content">
                <div class="menu--list">
                  <a class="menu--list-lnk" href="#">Подкатегория 1.1</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.2</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.3</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.4</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu--group" data-role="folder">
          <a class="menu--group-title" href="#" data-role="folder-toggle">Аксессуары</a>
          <div class="menu--group-body" data-role="folder-content">
            <div class="menu--group" data-role="folder">
              <a class="menu--group-title" href="#" data-role="folder-toggle">Подкатегория 1</a>
              <div class="menu--group-body" data-role="folder-content">
                <div class="menu--list">
                  <a class="menu--list-lnk" href="#">Подкатегория 1.1</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.2</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.3</a>
                  <a class="menu--list-lnk" href="#">Подкатегория 1.4</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <svg class="menu--icon">
          <use xlink:href="svg-sprite/sprite.svg#arrow-bottom-20"></use>
        </svg>
        <a class="menu--list-lnk" href="#">Подержанные кроватки</a>
        <a class="menu--list-lnk" href="#">Специальные предложения</a>
        <a class="menu--list-lnk" href="#">Условия выкупа и утилизации</a>
      </div>
    </div>
  </div>
  <a class="menu--lnk" href="#">О&nbsp;нас</a>
  <a class="menu--lnk" href="#">Доставка и&nbsp;оплата</a>
  <a class="menu--lnk" href="#">Блог</a>
  <a class="menu--lnk" href="#">Контакты</a>
</nav>
