<footer class="footer">
  <div class="container">
    <div class="footer--grid">
      <div class="footer--grid-top">
        <img class="footer--logo" src="images/global/logo.svg" alt="">
        <nav class="footer--menu">
          <a href="#">О&nbsp;нас</a>
          <a href="#">Доставка и&nbsp;оплата</a>
          <a href="#">Отзывы</a>
          <a href="#">Блог</a>
          <a href="#">Контакты</a>
        </nav>
        <button class="btn btn--primary btn--size-md">Заказать обратный звонок</button>
      </div>
      <div class="footer--grid-middle">
        @@include("../components/contacts.html", {})
      </div>
      <div class="footer--grid-bottom">
        <div class="footer--copyright">&copy;&nbsp;Название сайта 2016-2022</div>
        Все права защищены</div>
    </div>
  </div>
  @@include("../components/top-btn.html", {})
</footer>
