.catalogue {
  position: relative;
  padding: size(34) 0 size(11);
  @include media(lg) {
    padding: size(97) 0 0;
  }
  &--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: size(24);
    @include media(lg) {
      flex-direction: row;
      margin-bottom: size(60);
    }
    .title--size-md {
      margin-bottom: 0;
    }
  }
}
.filter {
  &-wrapper {
    display: flex;
    align-items: center;
    form {
      display: block;
    }
  }
  &--select {
    margin-left: size(10);
    padding: size(4) size(26) size(7) size(4);
    font-size: size(16);
    border: #281A11 1px solid;
    border-radius: size(5);
    &:after {
      width: .5em;
      height: .5em;
      right: .5em;
      margin-top: -.4em;
      border-bottom: 2px solid;
      border-right: 2px solid;
      border-color: #000;
    }
    .list {
      width: 100%;
      background: #fff;
      border-radius: size(5);
      box-shadow: 0 size(10) size(10) rgba(51, 37, 50, .15);
    }
    .option {
      padding: size(4);
      &:not(:last-child) {
        margin-bottom: size(7);
      }
      &:hover, &.focus, &.selected.focus {
        background: $btn-bg;
      }
    }
  }
}
