.company {
  .slider--buttons {
    display: none;
    @include media(lg) {
      display: flex;
    }
  }
  .swiper {
    &-wrapper {
      .company-slide {
        img {
          width: 100%;
          min-height: 205px;
          border-radius: size(5);
        }
      }
    }
  }
}
