.requisites {
  margin-top: size(46);
  @include media(lg) {
    margin-top: size(54);
  }
  .requisites__wrapper {
    @include media(md) {
      width: 86%;
      margin: 0 auto;
    }
    @include media(lg) {
      width: 61%;
      margin: 0 auto;
    }
    .requisit__wrapper {
      @include media(lg) {
        width: 83%;
      }
    }
    .requisit {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      height: 91px;
      font-size: size(14);
      padding: size(15);
      color: #000;
      &:first-child {
        font-weight: 500;
      }
      @include media(lg) {
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        align-items: center;
        height: 57px;
        padding: size(20) size(12);
      }
      .requisit-info {
        margin-top: size(10);
        @include media(lg) {
          margin-top: size(0);
        }
      }
      &:nth-child(even) {
        background-color: rgba(255, 235, 216, 0.44);
      }
    }
  }
}
