<div class="article">
  <div class="adaptive-box article--photo">
    <img class="adaptive-box__image lazy" data-src="images/articles/photo_1.jpg" src="images/global/lazyload.png"
         srcset="images/articles/photo_1@2x.jpg 2x" alt="" loading="lazy"/>
    </picture>
  </div>
  <div class="article--title">Заголовок</div>
  <div class="article--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua...</div>
  <div class="article--footer">
    <a class="btn btn--primary btn--size-md" href="#">Читать полностью</a>
    <time class="article--date" datetime="2022-12-01">01.12.2022</time>
  </div>
</div>
