<div class="contacts">
  <div class="contacts--info"><img class="contacts--info-icon" src="images/footer/clock-24.svg" alt=""> Ежедневно с&nbsp;9.00 до&nbsp;22.00</div>
  <div class="contacts--info"><img class="contacts--info-icon" src="images/footer/local-24.svg" alt=""> Санкт-Петербург и&nbsp;ЛО</div>
  <div class="contacts--info"><img class="contacts--info-icon" src="images/footer/call-24.svg" alt=""> +7&nbsp;800 000-00-00</div>
  <div class="contacts--social-wrapper">
    <a class="contacts--social" href="#">
      <svg>
        <use xlink:href="svg-sprite/sprite.svg#vkontakte-17"></use>
      </svg>
    </a>
    <a class="contacts--social" href="#">
      <svg>
        <use xlink:href="svg-sprite/sprite.svg#instagram-17"></use>
      </svg>
    </a>
    <a class="contacts--social" href="#">
      <svg>
        <use xlink:href="svg-sprite/sprite.svg#whatsapp-17"></use>
      </svg>
    </a>
    <a class="contacts--social" href="#">
      <svg>
        <use xlink:href="svg-sprite/sprite.svg#youtube-17"></use>
      </svg>
    </a>
  </div>
</div>
