<div class="goods">
  <div class="adaptive-box goods--photo">
    <picture>
      <source srcset="images/catalogue/photo_01_lg.jpg, images/catalogue/photo_01_lg@2x.jpg 2x" media="(min-width: 768px)">
      <img class="adaptive-box__image lazy" data-src="images/catalogue/photo_01.jpg" src="images/global/lazyload.png"
           srcset="images/catalogue/photo_01@2x.jpg 2x" alt="" loading="lazy"/>
    </picture>
    <div class="goods--status">В&nbsp;наличии на&nbsp;складе СПБ</div>
  </div>
  <div class="goods--title">Кровать-тахта Сканди из&nbsp;массива</div>
  <div class="goods--description">Самая простая и&nbsp;надежная кроватка, ничего лишнего</div>
  <div class="goods--detail-wrapper">
    <div class="goods--detail">
      <span class="goods--detail-hint">Размер</span>
      <span class="goods--detail-underline"></span> 140&times;72.5&times;95&nbsp;см</div>
    <div class="goods--detail">
      <span class="goods--detail-hint">Материал</span>
      <span class="goods--detail-underline"></span> Массива бука</div>
  </div>
  <div class="goods--price">6599&nbsp;₽
    <span class="goods--price_old">8599&nbsp;₽</span>
  </div>
  <button class="btn btn--primary btn--size-md">Добавить в корзину</button>
  <a class="goods--more" href="#">Подробнее</a>
</div>
