<div class="review">
  <svg class="review--icon">
    <use xlink:href="svg-sprite/sprite.svg#quotes-56"></use>
  </svg>
  <div class="review--message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor in&nbsp;reprehenderit in&nbsp;voluptate velit esse cillum dolore&nbsp;eu</div>
  <div class="review--author">
    <div class="adaptive-box review--author-photo">
      <source srcset="images/reviews/avatar_1_lg.jpg, images/reviews/avatar_1_lg@2x.jpg 2x" media="(min-width: 768px)">
      <img class="adaptive-box__image lazy" data-src="images/reviews/avatar_1.jpg" src="images/global/lazyload.png"
           srcset="images/reviews/avatar_1@2x.jpg 2x" alt="" loading="lazy"/>
      </picture>
    </div>
    <div class="review--author-text">
      <div class="review--author-name">Анна Власова</div>
      <div class="review--author-position">Кровать-тахта Сканди из массива</div>
    </div>
  </div>
</div>
