.breadcrumbs {
  font-size: size(14);
  @include media(lg) {
    padding-top: size(15);
    border-top: #e1dedd 1px solid;
  }
  &:not(:last-child) {
    margin-bottom: size(20);
    @include media(lg) {
      margin-bottom: size(30);
    }
  }
  display: flex;
  align-items: center;
  &-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: inherit;
    &:not(:first-child) {
      @include media(lg, max) {
        display: none;
      }
    }
    &:not(:last-child) {
      @include media(lg) {
        margin-right: 0.43em;
        font-weight: 400;
      }
      &:before {
        content: "";
        width: 0.36em;
        height: 0.36em;
        margin-right: 0.43em;
        border: #fadbbd solid;
        border-width: 0 1px 1px 0;
        transform: rotate(135deg);
        @include media(lg) {
          margin-right: 0;
          margin-left: 0.43em;
          transform: rotate(-45deg);
          order: 1;
        }
      }
    }
  }
}
