.breadcrumbs {
  position: relative;
  padding: size(68) 0 size(20);
  @include media(lg) {
    padding: size(144) 0 size(29);
  }
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .icon {
    margin-right: size(6);
    font-size: size(8);
    background: none;
  }
  &-link {
    color: inherit;
    font-weight: 600;
  }
  .hidden {
    display: none;
  }
}
@include media(lg) {
  .breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .icon {
      margin: size(4) size(6) 0;
      font-size: size(8);
      background: none;
      transform: rotate(180deg);
    }

    &-link {
      font-weight: 600;
    }
    .normal {
      font-weight: 400;
    }
    .hidden {
      display: block;
    }
    &::before {
      position: absolute;
      width: 100%;
      bottom: size(60);
      border-top: 1px solid #e1dedd;
      content: "";
    }
  }
}
