<section id="about-beds" class="about-beds">
  <div class="container">
    <div class="grid m:align-center-x@lg m:align-bottom@lg g:columns-12@lg">
      <div class="col-5@lg">
        <h2 class="title--size-md">Немного о&nbsp;наших кроватках</h2>
        <p class="text">Наши кроватки&nbsp;&mdash; идеальное сочетание стиля, комфорта и&nbsp;экологичности:</p>
        <div class="about-beds--advantage-wrapper">
          <div class="about-beds--advantage">
            <div class="icon_40">
              <svg>
                <use xlink:href="svg-sprite/sprite.svg#drop-40"></use>
              </svg>
            </div>
            <div class="about-beds--advantage-description">Краски и&nbsp;лаки на&nbsp;водяной основе</div>
          </div>
          <div class="about-beds--advantage">
            <div class="icon_40">
              <svg>
                <use xlink:href="svg-sprite/sprite.svg#shield-40"></use>
              </svg>
            </div>
            <div class="about-beds--advantage-description">Древесный массив</div>
          </div>
          <div class="about-beds--advantage">
            <div class="icon_40">
              <svg>
                <use xlink:href="svg-sprite/sprite.svg#tree-40"></use>
              </svg>
            </div>
            <div class="about-beds--advantage-description">ЛДСП соответствует экологическим нормам производства</div>
          </div>
        </div>
        <p class="text_ps"><i>P.S. Даже минимальные выбросы исключены за счет ламинирования</i></p>
      </div>
      <div class="col-7@lg">
        <div class="adaptive-box about-beds--photo">
          <picture>
            <source srcset="images/about-beds/photo_lg.png, images/about-beds/photo_lg@2x.png 2x" media="(min-width: 768px)">
            <img class="adaptive-box__image lazy" data-src="images/about-beds/photo.png" src="images/global/lazyload.png"
                 srcset="images/about-beds/photo@2x.png 2x" alt="" loading="lazy"/>
          </picture>
          <div class="about-beds--photo-ellipse"></div>
        </div>
      </div>
    </div>
  </div>
  <img class="decor_13 desktop-only" src="images/global/heart-1.svg" alt="">
  <img class="decor_14 desktop-only" src="images/global/heart-2.svg" alt="">
  <img class="decor_15 desktop-only" src="images/global/heart-3.svg" alt="">
</section>
