<section id="about" class="about">
  <div class="container">
    <h2 class="title--size-md">Немного о&nbsp;нашем магазине</h2>
    <p class="text">В&nbsp;нашем интернет-магазине вам предоставляется широкий выбор моделей детских кроваток. Мы&nbsp;понимаем, что от&nbsp;кроваток зависит качество сна ребенка, поэтому ответственно подходим к&nbsp;производству.</p>
    <p class="text">Мы&nbsp;также предоставляем выгодные условия для покупки новой кроватки и&nbsp;сдачи старой в&nbsp;Trade-in. Сделайте правильный выбор при покупке кроватки: адекватная цена, экологичные материалы, большой выбор, выгодные условия, возможность большой скидки, доставка детских кроваток Санкт-Петербургу и&nbsp;Ленинградской области&nbsp;&mdash; это все про нас, и&nbsp;даже больше. На&nbsp;сайте вы&nbsp;можете заказать детскую кроватку не&nbsp;только с&nbsp;доставкой на&nbsp;дом, но&nbsp;и&nbsp;со&nbsp;сборкой у&nbsp;вас дома.</p>
    <p class="text">С&nbsp;гарантией 1&nbsp;год на&nbsp;все модели (без исключения) вы&nbsp;можете приобрести следующие виды кроваток: двухъярусные, одноярусные, кровать-домик, кровать-чердак, кровать-софа. Мы&nbsp;расширяем ассортимент каждый месяц! Мы&nbsp;уверены в&nbsp;высоком качестве наших товаров, поэтому также предоставляем гарантию 3&nbsp;года на&nbsp;обнаружение брака.</p>
    <p class="text">В&nbsp;нашем магазине, вы&nbsp;можете найти не&nbsp;только детские кроватки, а&nbsp;также:</p>
    <ul class="list">
      <li>
        <div class="icon_20 list--icon">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </div>
        Матрасы
      </li>
      <li>
        <div class="icon_20 list--icon">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </div>
        Детскую мебель
      </li>
      <li>
        <div class="icon_20 list--icon">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </div>
        Постельное белье
      </li>
      <li>
        <div class="icon_20 list--icon">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#arrow-right-20"></use>
          </svg>
        </div>
        Аксессуары
      </li>
    </ul>
  </div>
</section>
