<section id="actions" class="actions">
  <div class="container">
    <h2 class="title--size-md text_center">Акции</h2>
    <div class="actions--tile-wrapper">
      <div class="adaptive-box actions--tile_1">
        <picture>
          <source srcset="images/actions/photo_01_lg.jpg, images/actions/photo_01_lg@2x.jpg 2x" media="(min-width: 768px)">
          <img class="adaptive-box__image lazy" data-src="images/actions/photo_01.jpg" src="images/global/lazyload.png"
               srcset="images/actions/photo_01@2x.jpg 2x" alt="" loading="lazy"/>
        </picture>
        <div class="actions--tile-price">6599&nbsp;₽ <span class="actions--tile-price_old">8599&nbsp;₽</span></div>
      </div>
      <div class="adaptive-box actions--tile_2">
        <picture>
          <source srcset="images/actions/photo_02_lg.jpg, images/actions/photo_02_lg@2x.jpg 2x" media="(min-width: 768px)">
          <img class="adaptive-box__image lazy" data-src="images/actions/photo_02.jpg" src="images/global/lazyload.png"
               srcset="images/actions/photo_02@2x.jpg 2x" alt="" loading="lazy"/>
        </picture>
        <div class="actions--tile-price">6599&nbsp;₽ <span class="actions--tile-price_old">8599&nbsp;₽</span></div>
      </div>
      <div class="adaptive-box actions--tile_3">
        <picture>
          <source srcset="images/actions/photo_03_lg.jpg, images/actions/photo_03_lg@2x.jpg 2x" media="(min-width: 768px)">
          <img class="adaptive-box__image lazy" data-src="images/actions/photo_03.jpg" src="images/global/lazyload.png"
               srcset="images/actions/photo_03@2x.jpg 2x" alt="" loading="lazy"/>
        </picture>
        <div class="actions--tile-price">6599&nbsp;₽ <span class="actions--tile-price_old">8599&nbsp;₽</span></div>
      </div>
      <div class="adaptive-box actions--tile_4">
        <picture>
          <source srcset="images/actions/photo_04_lg.jpg, images/actions/photo_04_lg@2x.jpg 2x" media="(min-width: 768px)">
          <img class="adaptive-box__image lazy" data-src="images/actions/photo_04.jpg" src="images/global/lazyload.png"
               srcset="images/actions/photo_04@2x.jpg 2x" alt="" loading="lazy"/>
        </picture>
        <div class="actions--tile-price">6599&nbsp;₽ <span class="actions--tile-price_old">8599&nbsp;₽</span></div>
      </div>
      <div class="adaptive-box actions--tile_5">
        <picture>
          <source srcset="images/actions/photo_05_lg.jpg, images/actions/photo_05_lg@2x.jpg 2x" media="(min-width: 768px)">
          <img class="adaptive-box__image lazy" data-src="images/actions/photo_05.jpg" src="images/global/lazyload.png"
               srcset="images/actions/photo_05@2x.jpg 2x" alt="" loading="lazy"/>
        </picture>
        <div class="actions--tile-price">6599&nbsp;₽ <span class="actions--tile-price_old">8599&nbsp;₽</span></div>
      </div>
      <div class="adaptive-box actions--tile_6">
        <picture>
          <source srcset="images/actions/photo_06_lg.jpg, images/actions/photo_06_lg@2x.jpg 2x" media="(min-width: 768px)">
          <img class="adaptive-box__image lazy" data-src="images/actions/photo_06.jpg" src="images/global/lazyload.png"
               srcset="images/actions/photo_06@2x.jpg 2x" alt="" loading="lazy"/>
        </picture>
        <div class="actions--tile-price">6599&nbsp;₽ <span class="actions--tile-price_old">8599&nbsp;₽</span></div>
      </div>
    </div>
  </div>
  <img class="spot_4 desktop-only" src="images/global/spot_4.jpg" alt="">
  <img class="spot_5 desktop-only" src="images/global/spot_5.jpg" alt="">
</section>
