<section id="articles" class="articles">
  <div class="container">
    <div class="reviews--grid">
      <h2 class="title--size-md">Статьи от&nbsp;наших экспертов</h2>
      <div class="swiper articles--slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            @@include("../components/article/article-card.html",{})
          </div>
          <div class="swiper-slide">
            @@include("../components/article/article-card.html",{})
          </div>
          <div class="swiper-slide">
            @@include("../components/article/article-card.html",{})
          </div>
          <div class="swiper-slide">
            @@include("../components/article/article-card.html",{})
          </div>
        </div>
      </div>
      <div class="articles--slider-buttons">
        <div class="swiper-button-prev articles--slider-prev">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#prev-24"></use>
          </svg>
        </div>
        <div class="swiper-button-next articles--slider-next">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#next-24"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <img class="decor_19 desktop-only" src="images/global/star-4.svg" alt="">
  <img class="decor_20 desktop-only" src="images/global/star-5.svg" alt="">
  <img class="decor_21 desktop-only" src="images/global/star-6.svg" alt="">
  <img class="spot_6 desktop-only" src="images/global/spot_6.jpg" alt="">
</section>
