<section id="company" class="company">
  <div class="container">
    <div class="slider--grid">
      <h2 class="title--size-md">О нас</h2>
      <div class="slider--buttons">
        <div class="swiper-button-prev" data-role="company-prev">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#prev-24"></use>
          </svg>
        </div>
        <div class="swiper-button-next" data-role="company-next">
          <svg>
            <use xlink:href="svg-sprite/sprite.svg#next-24"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper slider" data-role="company-slider">
    <div class="swiper-wrapper">
      <div class="company-slide swiper-slide">
        <img src="images/company/company-slr-img_s.jpg" alt="" />
      </div>
      <div class="company-slide swiper-slide">
        <img src="images/company/company-slr-img_s.jpg" alt="" />
      </div>
      <div class="company-slide swiper-slide">
        <img src="images/company/company-slr-img_s.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
