<section id="contact" class="contact">
  <div class="container">
    <h2 class="contact__title title title--size-md">Контакты</h2>
    <div class="contact-wrapper wow fadeIn">
      <div class="contact-item">
        <svg class="icon">
          <use xlink:href="svg-sprite/sprite.svg#phone"></use>
        </svg>
        <span class="contact-item_name title--size-sm">Телефон</span>
        <p class="contact-item_info">+7 800 000-00-00</p>
      </div>
      <div class="contact-item">
        <svg class="icon">
          <use xlink:href="svg-sprite/sprite.svg#adrs"></use>
        </svg>
        <span class="contact-item_name title--size-sm">Адрес</span>
        <p class="contact-item_info">
          Санкт-Петербург, Коломяжский проспект 26, офис 26
        </p>
      </div>
      <div class="contact-item">
        <svg class="icon">
          <use xlink:href="svg-sprite/sprite.svg#clock"></use>
        </svg>
        <span class="contact-item_name title--size-sm">Время работы</span>
        <p class="contact-item_info">Ежедневно <span>с 9.00 до 22.00</span></p>
      </div>
    </div>
  </div>
  <div class="map">
    <iframe
      class="frame"
      src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad6f7b34fc2ca8575bbd4c4d2c2220491227fc92e56d6fd2e93c7bfb4fa779634&amp;source=constructor"
      frameborder="0"
    ></iframe>
  </div>
</section>
