<section id="cover" class="cover">
  <div class="container">
    <div class="grid m:align-center">
      <div class="col-1@lg order-2@lg">
        <div class="adaptive-box cover--image">
          <picture>
            <source srcset="images/cover/photo_lg.jpg, images/cover/photo_lg@2x.jpg 2x" media="(min-width: 768px)">
            <img class="adaptive-box__image lazy" data-src="images/cover/photo.jpg" src="images/global/lazyload.png"
                 srcset="images/cover/photo@2x.jpg 2x" alt="" loading="lazy"/>
          </picture>
          <div class="cover--image-frame"></div>
          <div class="cover--image-ellipse"></div>
        </div>
      </div>
      <div class="col-1@lg">
        <h1 class="title--size-lg">Детские кроватки из&nbsp;натуральных материалов</h1>
        <p class="text_big">&mdash; Раздельный сон в&nbsp;радость</p>
        <div class="cover--advantage-wrapper">
          <div class="cover--advantage">
            <div class="icon_35">
              <svg>
                <use xlink:href="svg-sprite/sprite.svg#like-35"></use>
              </svg>
            </div>
            <div>
              <div class="cover--advantage-title">Гарантия</div>
              <div class="cover--advantage-description">На&nbsp;все кроватки действует гарантия 3&nbsp;года. В&nbsp;случае обнаружения брака&nbsp;&mdash; ремонт за&nbsp;наш счет</div>
            </div>
          </div>
          <div class="cover--advantage">
            <div class="icon_35">
              <svg>
                <use xlink:href="svg-sprite/sprite.svg#delivery-35"></use>
              </svg>
            </div>
            <div>
              <div class="cover--advantage-title">Trade-in</div>
              <div class="cover--advantage-description">Заберем старую кроватку в&nbsp;счет покупки новой</div>
            </div>
          </div>
          <div class="cover--advantage">
            <div class="icon_35">
              <svg>
                <use xlink:href="svg-sprite/sprite.svg#3d-rotate-35"></use>
              </svg>
            </div>
            <div>
              <div class="cover--advantage-title">Доставка</div>
              <div class="cover--advantage-description">Сроки доставки: 1-3 дня по&nbsp;Санкт-Петербургу</div>
            </div>
          </div>
        </div>
        <button class="btn btn--primary btn--size-cover">Заказать обратный звонок</button>
      </div>
    </div>
  </div>
  <img class="decor_1" src="images/global/star-1.svg" alt="">
  <img class="decor_2" src="images/global/star-2.svg" alt="">
  <img class="decor_3" src="images/global/star-3.svg" alt="">
  <img class="decor_4" src="images/global/star-4.svg" alt="">
  <img class="decor_5" src="images/global/star-5.svg" alt="">
  <img class="decor_6" src="images/global/star-6.svg" alt="">
  <img class="spot_1 desktop-only" src="images/global/spot_1.jpg" alt="">
  <img class="spot_2 desktop-only" src="images/global/spot_2.jpg" alt="">
</section>
