<section id="delivery-process" class="delivery-process">
  <div class="container">
    <h2 class="delivery-process__title title title--size-md">
      Как происходит доставка
    </h2>
    <div class="delivery-process__blocks">
      <div class="process__block">
        <h3 class="process__block-count">01</h3>
        <p class="process__block-text">
          Мы сами оформляем все документы по доставке
        </p>
      </div>
      <div class="process__block">
        <h3 class="process__block-count">02</h3>
        <p class="process__block-text">
          Отвозим ваш заказ в транспортную компанию
        </p>
      </div>
      <div class="process__block">
        <h3 class="process__block-count">03</h3>
        <p class="process__block-text">
          Далее отправляем вам накладную, где указан трэк номер
        </p>
      </div>
      <div class="process__block">
        <h3 class="process__block-count">04</h3>
        <p class="process__block-text">
          По прибытию груза в ваш город — вам сообщать в смс сообщении
        </p>
      </div>
    </div>
  </div>
</section>
