<section id="payment" class="payment">
  <div class="container">
    <h2 class="payment__title title title--size-md">Оплата</h2>
    <div class="payment-cards wow fadeIn">
      <div class="payment-card">
        <svg class="icon">
          <use xlink:href="svg-sprite/sprite.svg#money"></use>
        </svg>
        <h4 class="payment-card-title">Наличными</h4>
        <p class="payment-card-text">
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the
        </p>
      </div>
      <div class="payment-card">
        <svg class="icon">
          <use xlink:href="svg-sprite/sprite.svg#cards"></use>
        </svg>
        <h4 class="payment-card-title">Банковской картой</h4>
        <p class="payment-card-text">
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the
        </p>
      </div>
      <div class="payment-card">
        <svg class="icon">
          <use xlink:href="svg-sprite/sprite.svg#reciept"></use>
        </svg>
        <h4 class="payment-card-title">Безналичным платежом</h4>
        <p class="payment-card-text">
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the
        </p>
      </div>
    </div>
  </div>
</section>
