<section id="pnf" class="pnf">
  <div class="container">
    <div class="pnf__wrapper">
      <div class="pnf__wrapper-pic">
        <picture>
          <source
            srcset="images/pnf/main-pic_d.png"
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="images/pnf/main-pic_m.png"
            media="(min-width: 320px)"
            type="image/png"
          />
          <img src="images/pnf/main-pic_m.png" alt="" />
        </picture>
      </div>
      <div class="pnf__wrapper-info">
        <h2 class="pnf__wrapper-info__title title title--size-lg">
          Страница <span>не найдена...</span>
        </h2>
        <button class="pnf__wrapper-info__btn btn--primary btn--size-cover">
          На главную
        </button>
        <div class="pnf__wrapper-info__list">
          <li class="pnf__wrapper-info__list-item">Каталог</li>
          <li class="pnf__wrapper-info__list-item">Акции</li>
          <li class="pnf__wrapper-info__list-item">Доставка и оплата</li>
          <li class="pnf__wrapper-info__list-item">Блог</li>
          <li class="pnf__wrapper-info__list-item">Контакты</li>
        </div>
      </div>
    </div>
  </div>
</section>
