<section id="questions" class="questions">
  <div class="container">
    <h2 class="questions__title title title--size-md">Остались вопросы?</h2>
    <p class="questions__description title--size-sm">
      Оставьте ваши контактные данные, мы с Вами свяжемся в ближайшее время
    </p>
    <form class="questions--form" action="">
      <div class="grid g:columns-4@lg m:align-center-y@lg">
        <label class="col-1@lg">
          <input type="text" required placeholder="Введите ваше имя" />
        </label>
        <label class="col-1@lg">
          <input type="tel" required placeholder="Введите ваш телефон" />
        </label>
        <label class="col-1@lg">
          <input type="email" required placeholder="Введите вашу почту" />
        </label>
        <div class="col-1@lg">
          <button class="btn btn--primary btn--size-cover">Отправить</button>
        </div>
      </div>
    </form>
  </div>
</section>
