<section id="requisites" class="requisites">
  <div class="container">
    <h2 class="requisites__title title title--size-md">Реквизиты</h2>
  </div>
  <div class="requisites__wrapper">
    <div class="requisit__wrapper">
      <div class="requisit">
        <p class="requisit-name">Полное наименование организации</p>
        <p class="requisit-info">
          Общество с ограниченной ответственностью «Интернет Решения»
        </p>
      </div>
      <div class="requisit">
        <p class="requisit-name">Юридический адрес</p>
        <p class="requisit-info">
          123112, г. Москва, Пресненская наб., д. 10, эт. 41, Пом. I, комн. 6
        </p>
      </div>
      <div class="requisit">
        <p class="requisit-name">Фактический адрес</p>
        <p class="requisit-info">
          123112, Москва, Пресненская наб., д. 10, блок С, комплекс «Башня на
          набережной»
        </p>
      </div>
      <div class="requisit">
        <p class="requisit-name">№ ОГРН</p>
        <p class="requisit-info">1027739244741</p>
      </div>
      <div class="requisit">
        <p class="requisit-name">ИНН</p>
        <p class="requisit-info">7704217370</p>
      </div>
      <div class="requisit">
        <p class="requisit-name">КПП</p>
        <p class="requisit-info">997750001</p>
      </div>
      <div class="requisit">
        <p class="requisit-name">Код по ОКПО</p>
        <p class="requisit-info">55185357</p>
      </div>
      <div class="requisit">
        <p class="requisit-name">ОКВЭД</p>
        <p class="requisit-info">
          52.47.1, 45.21, 45.21.1., 51.12.23, 51.12.24, 51.18.22, 51.18.25,
          51.47.34, 51.52.23
        </p>
      </div>
      <div class="requisit">
        <p class="requisit-name">Расчетный счет</p>
        <p class="requisit-info">
          40702810100002400756 в АО «Райффайзенбанк» г. Москва
        </p>
      </div>
      <div class="requisit">
        <p class="requisit-name">Корреспондентский счет</p>
        <p class="requisit-info">30101810200000000700</p>
      </div>
      <div class="requisit">
        <p class="requisit-name">БИК</p>
        <p class="requisit-info">044525700</p>
      </div>
      <div class="requisit">
        <p class="requisit-name">Генеральный директор</p>
        <p class="requisit-info">Шульгин Александр Александрович</p>
      </div>
    </div>
  </div>
</section>
