<section id="selection" class="selection">
  <div class="container">
    <h2 class="title--size-md text_center">Подберем идеальную кроватку под ваш запрос</h2>
    <form class="selection--form" action="">
      <div class="grid g:columns-4@lg m:align-center-y@lg">
        <label class="col-1@lg">
          <input type="text" required placeholder="Введите ваше имя">
        </label>
        <label class="col-1@lg">
          <input type="tel" required placeholder="Введите ваш телефон">
        </label>
        <label class="col-1@lg">
          <input type="email" required placeholder="Введите вашу почту">
        </label>
        <div class="col-1@lg">
          <button class="btn btn--primary btn--size-md">Получить рекомендации</button>
        </div>
      </div>
    </form>
  </div>
</section>
