<section id="story" class="story">
  <div class="container">
    <h2 class="story__title title title--size-md">
      История создания компании:
    </h2>
    <div class="story-intro">
      <p class="story-intro__text text_ps">
        Летом 2021 года, когда Леве исполнилось 2 года, мы решили приобрести ему
        первую недвижимость - большую кроватку - домик.
      </p>
      <p class="story-intro__text text_ps">
        Честно говоря, мы думали, что найти подходящую кроватку гораздо легче…
        <br />
        В течение недели мы активно искали подходящие варианты, общались с
        производителями – <br />
        <b>все было не то.</b>
      </p>
    </div>
    <div class="story-questions">
      <h4 class="story-questions__title title--size-sy">
        Что именно было не так?
      </h4>
      <div class="story-questions__list">
        <p class="story-questions__list-item text_ps">
          Там, где кроватка была в наличии, не было гарантии, где была гарантия
          – не было нужной модели в наличии.
        </p>
        <p class="story-questions__list-item text_ps">
          Сложности в сборке кроватки: договариваться со сборщиком надо было
          отдельно, неизвестно, когда он сможет приехать…
        </p>
      </div>
    </div>
    <div class="story-decision">
      <h4 class="story-decision__title title--size-sy">И тут мы решили…</h4>
      <p class="story-decision__text text_ps">
        …Создать идеальный магазин для родителей и малышей, собрать все
        сложности и неприятные истории, с которыми столкнулись в ходе поиска
        кроватки, и оградить наших клиентов от них. Так, был создан магазин
        MAYBE BABY BOO, где:
      </p>
      <div class="story-decision__features grid wow fadeIn">
        <div class="story-decision__features-item__wrapper col-1@lg">
          <div class="story-decision__features-item">
            <svg class="icon">
              <use xlink:href="svg-sprite/sprite.svg#verify"></use>
            </svg>
            <p class="features-item__description text_ps">
              Основные модели <span>всегда в наличии</span>
            </p>
          </div>
          <div class="story-decision__features-item">
            <svg class="icon">
              <use xlink:href="svg-sprite/sprite.svg#car_b"></use>
            </svg>
            <p class="features-item__description text_ps">Доставка: 1-3 дня</p>
          </div>
        </div>
        <div class="story-decision__features-item__wrapper col-1@lg">
          <div class="story-decision__features-item">
            <svg class="icon">
              <use xlink:href="svg-sprite/sprite.svg#note_2"></use>
            </svg>
            <p class="features-item__description text_ps">
              Гарантия на все <span>модели</span>
            </p>
          </div>
          <div class="story-decision__features-item">
            <svg class="icon">
              <use xlink:href="svg-sprite/sprite.svg#set_2"></use>
            </svg>
            <p class="features-item__description text_ps">
              Сборка в день доставки, <span>при желании</span>
            </p>
          </div>
        </div>
        <div class="story-decision__features-item__wrapper col-1@lg">
          <div class="story-decision__features-item">
            <svg class="icon">
              <use xlink:href="svg-sprite/sprite.svg#emoji"></use>
            </svg>
            <p class="features-item__description text_ps">
              Возможность легкой, <span>самостоятельной сборки</span>
            </p>
          </div>
          <div class="story-decision__features-item">
            <svg class="icon">
              <use xlink:href="svg-sprite/sprite.svg#trade"></use>
            </svg>
            <p class="features-item__description text_ps">
              Выгодные условия Traide-in
            </p>
          </div>
        </div>
        <div class="story-decision__features-item__wrapper col-1@lg">
          <p class="sale">Приятных покупок!</p>
        </div>
      </div>
    </div>
  </div>
</section>
